* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: red;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container img {
  padding: 1rem 0px;
}

.ul-nav li {
  display: inline-block;
  padding: 48.5px 1rem;
  border-bottom: 10px solid transparent;
  margin-bottom: -10px;
}
.ul-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
.ul-nav li:hover {
  color: rgb(2, 130, 249);
  border-bottom: 10px solid rgb(2, 130, 249);
}
.ul-nav li:hover a {
  color: rgb(2, 130, 249);
}